<div class="campaign-pillars">
    <div class="campaign-pillars--container">
        <h2 class="campaign-section__title offset-1 pillars-border-color" id="campaign-section-title-">
    <span class="campaign-section__title-border"></span>
    Lorem ipsum dolor sit amet, consectetur
</h2>        <div class="campaign-pillars__cards">
                            <article class="campaign-pillars__pillar-card">
                    <a href="#" class="pillar-card__content">
                        <figure class="pillar-card__image">
                            





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x234" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/224x126 224w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x234 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                        </figure>
                        <div class="pillar-card__text-content">
                            <h3 class="pillar-card__title">Access</h3>
                            <p class="pillar-card__text">Expand financial aid to meet the full financial need of every accepted student to enrich the exchange of ideas in our classrooms and create the strongest student body possible.</p>
                        </div>
                    </a>
                </article>
                            <article class="campaign-pillars__pillar-card">
                    <a href="#" class="pillar-card__content">
                        <figure class="pillar-card__image">
                            





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x234" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/224x126 224w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x234 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                        </figure>
                        <div class="pillar-card__text-content">
                            <h3 class="pillar-card__title">Academic Excellence</h3>
                            <p class="pillar-card__text">Drive innovative approaches in education to ensure Middlebury prepares students to learn how to learn, to be comfortable with complexity, and thrive in an ever-changing world.</p>
                        </div>
                    </a>
                </article>
                            <article class="campaign-pillars__pillar-card">
                    <a href="#" class="pillar-card__content">
                        <figure class="pillar-card__image">
                            





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x234" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/224x126 224w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x234 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                        </figure>
                        <div class="pillar-card__text-content">
                            <h3 class="pillar-card__title">Experience</h3>
                            <p class="pillar-card__text">Maximize immersive, experiential opportunities to accelerate learning and deepen understanding to prepare our students for meaningful careers and a lifetime of leadership.</p>
                        </div>
                    </a>
                </article>
                    </div>
    </div>
</div>