<header class="campaign-header">

    <div class="campaign-header__main">

      <div class="campaign-header__content">

        <div class="campaign-nav">
          <button class="button--outer-border d-none d-md-inline-flex mr-3 mr-lg-4">
            <span class="button button--light button--outline">Give a Gift CTA</span>
          </button>
          <button class="campaign-nav__handle menu-button" data-drawer="midd-nav-drawer" aria-label="Open navigation">
            <span class="d-none d-md-inline mr-2">Menu</span>
            <svg class="icon mr-1 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-bars">
</svg>
          </button>

          <div class="campaign-nav__menu">

            <nav aria-labelledby="midd-main-nav-label">
              <h2 class="sr-only" id="midd-main-nav-label">Main navigation</h2>
              <ul class="campaign-nav__list">
                                  <li class="campaign-nav__item">

                    <a href="" class="campaign-nav__link">Our Priorities</a>

                                          <ul class="campaign-nav__list campaign-nav__list--sub">
                                                  <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">Access</a>
                          </li>
                                                  <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">Academic Excellence</a>
                          </li>
                                                  <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">Experience</a>
                          </li>
                                                  <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">Unrestricted Giving</a>
                          </li>
                                                  <li class="campaign-nav__item campaign-nav__item--sub">
                            <a href="" class="campaign-nav__link campaign-nav__link--sub">Capitol Projects</a>
                          </li>
                                              </ul>
                    
                  </li>
                                  <li class="campaign-nav__item">

                    <a href="" class="campaign-nav__link">Get Involved</a>

                    
                  </li>
                                  <li class="campaign-nav__item">

                    <a href="" class="campaign-nav__link">Your Impact</a>

                    
                  </li>
                              </ul>
            </nav>
          </div>

        </div>
      </div>

      <a class="campaign-header__logo" href="">
        <img src="img/campaign-logo-top.svg"
            alt="Top half of logo for Middlebury Campaign"
            height="24"
            width="293"
        />
        <img src="img/campaign-logo-bottom.svg"
            alt="Bottom half of logo for Middlebury Campaign"
            height="12"
            width="287"
        />
        <span class="sr-only">For Every Future, the Campaign for Middlebury</span>
      </a>

    </div>
</header>
