<footer class="midd-footer">
    <h2 class="sr-only">Additional Navigation</h2>

    <div class="container">
        <div class="row">
            <div class="mt-2 mb-5 mb-md-4 mb-lg-0 mt-lg-0 col-lg-3">
                <a href="https://www.middlebury.edu">
                    <img src="img/middlebury-logo-white.svg" 
                        alt="Middlebury"
                        width="195"
                        height="71"
                    />
                </a>
            </div>
            <div class="col-lg-9">
                                    <div class="midd-footer__right">
                                        <ul class="midd-footer__links">
                                                            <li>
                                    <a href="https://www.middlebury.edu/about">About</a>
                                </li>
                                                            <li>
                                    <a href="https://www.middlebury.edu/alumni-and-families">Make a Gift</a>
                                </li>
                                                            <li>
                                    <a href="https://www.middlebury.edu">Ways to Give</a>
                                </li>
                                                            <li>
                                    <a href="https://www.middlebury.edu/">Contact</a>
                                </li>
                                                            <li>
                                    <a href="https://www.middlebury.edu/">Leadership</a>
                                </li>
                                                    </ul>
                                                    <ul class="d-inline-flex midd-footer__social-links">
      
      <li class="mr-1">
        <a href="#" class="d-inline-block text-white hover-fadeout  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-linkedin">
</svg>
          <span class="sr-only">Go to Middlebury's LinkedIn page</span>
        </a>
      </li>
    
      
      <li class="mr-1">
        <a href="#" class="d-inline-block text-white hover-fadeout  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-instagram">
</svg>
          <span class="sr-only">Go to Middlebury's Alumni page on Instagram</span>
        </a>
      </li>
    
      
      <li class="mr-1">
        <a href="#" class="d-inline-block text-white hover-fadeout  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-facebook">
</svg>
          <span class="sr-only">Go to Middlebury's Alumni page on Facebook</span>
        </a>
      </li>
    
  </ul>
                                                            </div>
                            </div>
        </div>
    </div>
    <a href="#midd-pagetop" class="button button--sm to-top-btn js-to-top-btn">
  <svg class="icon mb-1 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-caret-up">
</svg>
  <span class="text-caps d-block">
    <span class="sr-only">Back to</span>
    Top
  </span>
</a>
</footer>