<nav class="drawer-nav" aria-labelledby="midd-drawer-nav-label">
  <h2 class="sr-only" id="midd-drawer-nav-label">Navigation</h2>

  <ul class="drawer-nav__list drawer-nav__list--top">
          <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Our Priorities</a>

                  <button
            class="drawer-nav__handle"
            data-toggle-target=".js-subnav-1"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="midd-subnav-1"
          >
            <svg class="icon drawer-nav__chevron " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>
          </button>

          <ul class="drawer-nav__list drawer-nav__list--sub js-subnav-1" id="midd-subnav-1">
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Access</a>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Academic Excellence</a>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Experience</a>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Unrestricted Giving</a>
              </li>
                          <li class="drawer-nav__item drawer-nav__item--sub">
                <a href="" class="drawer-nav__link drawer-nav__link--sub">Capitol Projects</a>
              </li>
                      </ul>
        
      </li>
          <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Get Involved</a>

        
      </li>
          <li class="drawer-nav__item">

        <a href="" class="drawer-nav__link drawer-nav__link--top">Your Impact</a>

        
      </li>
    
  </ul>
</nav>
