<div
  id="midd-lightbox-1"
  aria-hidden="true"
  class="lightbox"
  role="dialog"
  aria-modal="true"
  aria-labelledby="midd-lightbox-1-label"
  data-lightbox
  tabindex="-1"
>
  <h2 id="midd-lightbox-1-label" class="sr-only">
    
    Gallery title
  </h2>

  <div class="lightbox__controls">

    <button class="lightbox__button" aria-label="Previous image" data-lightbox-prev>
      <svg class="icon mr-1 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-left">
</svg>
      <span class="d-none d-md-inline-block">
        Prev
      </span>
    </button>

    <div class="lightbox__count" data-lightbox-count></div>

    <button class="lightbox__button" aria-label="Next" data-lightbox-next>
      <span class="d-none d-md-inline-block">
        Next
      </span>
      <svg class="icon ml-1 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-right">
</svg>
    </button>

    <button
      class="lightbox__button lightbox__button--close"
      aria-label="Close modal"
      data-lightbox-close
    >
      Close
      <svg class="icon ml-1 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-times">
</svg>
    </button>
  </div>

  <ol class="lightbox__thumbs-list" data-lightbox-thumbs>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-1" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-2" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-3" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-4" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-5" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-6" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-7" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-8" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-9" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-10" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-11" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/64/36" alt="">
                  </a>
      </li>

    
      <li class="lightbox__thumbs-item">
        <a href="#midd-lightbox-1-item-12" class="lightbox__thumbs-button" data-lightbox-thumb>
          <img data-src="http://placekitten.com/40/80" alt="">
                  </a>
      </li>

    
  </ol>

  <div class="lightbox__images">

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-1"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280 720'/%3E"
            
            data-src="http://placekitten.com/1280/720"
            data-srcset="http://placekitten.com/1280/720 1280w, http://placekitten.com/960/540 960w, http://placekitten.com/640/360 640w, http://placekitten.com/320/180 320w"
            width="1280"
            alt=""
          />
        
        <figcaption class="media__caption text-white">1 Lorem ipsum <a href="#">dolor</a> sit amet consectetur adipisicing elit.</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-2"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 810'/%3E"
            
            data-src="http://placekitten.com/1440/810"
            data-srcset="http://placekitten.com/1440/810 1440w, http://placekitten.com/1080/608 1080w, http://placekitten.com/720/405 720w, http://placekitten.com/360/203 360w"
            width="1440"
            alt=""
          />
        
        <figcaption class="media__caption text-white">2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aspernatur accusantium eveniet accusamus tempora sequi fugiat magnam? Porro illo cumque error praesentium dolore labore tenetur obcaecati rerum, inventore sequi totam!</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-3"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 360'/%3E"
            
            data-src="http://placekitten.com/640/360"
            data-srcset="http://placekitten.com/640/360 640w, http://placekitten.com/480/270 480w, http://placekitten.com/320/180 320w, http://placekitten.com/160/90 160w"
            width="640"
            alt=""
          />
        
        <figcaption class="media__caption text-white">3 Lorem ipsum dolor sit amet consectetur adipisicing elit.</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-4"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 130'/%3E"
            
            data-src="http://placekitten.com/320/130"
            data-srcset="http://placekitten.com/320/130 320w, http://placekitten.com/240/98 240w, http://placekitten.com/160/65 160w, http://placekitten.com/80/33 80w"
            width="320"
            alt=""
          />
        
        <figcaption class="media__caption text-white">4 Lorem ipsum dolor sit amet consectetur adipisicing elit.</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-5"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 960 540'/%3E"
            
            data-src="http://placekitten.com/960/540"
            data-srcset="http://placekitten.com/960/540 960w, http://placekitten.com/720/405 720w, http://placekitten.com/480/270 480w, http://placekitten.com/240/135 240w"
            width="960"
            alt=""
          />
        
        <figcaption class="media__caption text-white">5 Repellat aspernatur accusantium eveniet accusamus tempora sequi fugiat magnam? Porro illo cumque error praesentium dolore labore tenetur obcaecati rerum, inventore sequi totam!</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-6"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 800'/%3E"
            
            data-src="http://placekitten.com/400/800"
            data-srcset="http://placekitten.com/400/800 400w, http://placekitten.com/300/600 300w, http://placekitten.com/200/400 200w, http://placekitten.com/100/200 100w"
            width="400"
            alt=""
          />
        
        <figcaption class="media__caption text-white">6 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aspernatur accusantium eveniet accusamus tempora sequi fugiat magnam? Porro illo cumque error praesentium dolore labore tenetur obcaecati rerum, inventore sequi totam!</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-7"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 800'/%3E"
            
            data-src="http://placekitten.com/400/800"
            data-srcset="http://placekitten.com/400/800 400w, http://placekitten.com/300/600 300w, http://placekitten.com/200/400 200w, http://placekitten.com/100/200 100w"
            width="400"
            alt=""
          />
        
        <figcaption class="media__caption text-white">7 </figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-8"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 450 800'/%3E"
            
            data-src="http://placekitten.com/450/800"
            data-srcset="http://placekitten.com/450/800 450w, http://placekitten.com/338/600 338w, http://placekitten.com/225/400 225w, http://placekitten.com/113/200 113w"
            width="450"
            alt=""
          />
        
        <figcaption class="media__caption text-white">8 </figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-9"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 600'/%3E"
            
            data-src="http://placekitten.com/700/600"
            data-srcset="http://placekitten.com/700/600 700w, http://placekitten.com/525/450 525w, http://placekitten.com/350/300 350w, http://placekitten.com/175/150 175w"
            width="700"
            alt=""
          />
        
        <figcaption class="media__caption text-white">9 </figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-10"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 700 600'/%3E"
            
            data-src="http://placekitten.com/700/600"
            data-srcset="http://placekitten.com/700/600 700w, http://placekitten.com/525/450 525w, http://placekitten.com/350/300 350w, http://placekitten.com/175/150 175w"
            width="700"
            alt=""
          />
        
        <figcaption class="media__caption text-white">10 </figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-11"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 960 540'/%3E"
            
            data-src="http://placekitten.com/960/540"
            data-srcset="http://placekitten.com/960/540 960w, http://placekitten.com/720/405 720w, http://placekitten.com/480/270 480w, http://placekitten.com/240/135 240w"
            width="960"
            alt=""
          />
        
        <figcaption class="media__caption text-white">11 Repellat aspernatur accusantium eveniet accusamus tempora sequi fugiat magnam? Porro illo cumque error praesentium dolore labore tenetur obcaecati rerum, inventore sequi totam!</figcaption>
      </figure>

    
      <figure
        class="lightbox__figure media media--contain-caption"
        id="midd-lightbox-1-item-12"
        data-lightbox-item
      >
        
        
          <img
            src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 800'/%3E"
            
            data-src="http://placekitten.com/400/800"
            data-srcset="http://placekitten.com/400/800 400w, http://placekitten.com/300/600 300w, http://placekitten.com/200/400 200w, http://placekitten.com/100/200 100w"
            width="400"
            alt=""
          />
        
        <figcaption class="media__caption text-white">12 Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aspernatur accusantium eveniet accusamus tempora sequi fugiat magnam? Porro illo cumque error praesentium dolore labore tenetur obcaecati rerum, inventore sequi totam!</figcaption>
      </figure>

    
  </div>

</div>
