<div class="page-image ">
  <figure class="media media--image media--contain-caption ">
  <!-- featured -->
  





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://placehold.co/1136x639" srcset="https://placehold.co/400x225 400w,https://placehold.co/640x360 640w,https://placehold.co/896x504 896w,https://placehold.co/1136x639 1136w"  sizes="(max-width: 1136px) 100vw, 1136px"  alt=""/>
      <figcaption class="media__caption">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit (Photo: John Doe)
    </figcaption>
  </figure>
</div>
