

<nav class="page-nav " aria-labelledby="midd-page-nav-label">
  <button
    class="page-nav__button"
    data-toggle-target=".js-page-nav"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Additional Navigation
    <svg class="icon page-nav__icon " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>
  </button>
  <div class="page-nav__content js-page-nav">
    <h2 class="page-nav__title" id="midd-page-nav-label">
      <a href="" class="page-nav__link">Lorem ipsum</a>
    </h2>

      <ul class="page-nav__list">
      </ul>

  </div>
</nav>

