<figure class="portrait-video js-video" data-video='<iframe src="https://player.vimeo.com/video/398243397?autoplay=1" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>'>
  <div class="portrait-video__content js-video-content">
    <a href="https://player.vimeo.com/video/398243397" class="js-video-link portrait-video__link" role="button" aria-label="Play video" aria-describedby="midd-video-label-844">
      





        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/297x528" srcset="https://via.placeholder.com/234x416 234w,https://via.placeholder.com/252x448 252w,https://via.placeholder.com/297x528 297w"  sizes="(max-width: 512px) 234px, (max-width: 1200px) 252px, 297px"  alt=""/>
        <div class="portrait-video__body">
                      <h3 class="portrait-video__title" id="midd-video-label-844">
              What do students do after graduation?
            </h3>
                    <button class="portrait-video__button">
            Play
            <svg class="icon video-button ml-3 " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-play">
</svg>
          </button>
        </div>
    </a>
  </div>
    <div class="transcript js-transcript-844 mt-2">
  <a href="#midd-transcript-844"
    class="transcript__button"
    data-toggle-target=".js-transcript-844"
    aria-label="Toggle transcript"
    aria-expanded="false"
    role="button">
    Transcript<svg class="icon transcript__icon icon--sm" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>
  </a>
  <div class="transcript__body" id="midd-transcript-844">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
  </div>
</div>
</figure>
