<ul class="d-inline-flex ">
      
      <li class="mr-1">
        <a href="#" class="d-inline-block hover-fadein  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-linkedin">
</svg>
        </a>
      </li>
    
      
      <li class="mr-1">
        <a href="#" class="d-inline-block hover-fadein  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-instagram">
</svg>
        </a>
      </li>
    
      
      <li class="mr-1">
        <a href="#" class="d-inline-block hover-fadein  p-1">
          <svg class="icon  " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-facebook">
</svg>
        </a>
      </li>
    
  </ul>
