
<article class="border-t border-navy pt-2 pt-md-1"
  aria-labelledby="midd-collection-item-label-377">
  <div class="mb-2">
    <a href="">
      <figure class="media">
        





        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/640x360" srcset="https://via.placeholder.com/400x225 400w,https://via.placeholder.com/640x360 640w"  sizes="(max-width: 640px) 100vw, 640px"  alt=""/>
      </figure>
    </a>
  </div>
  <h3 class="h3 f5 mb-1 d-flex justify-content-between align-items-start"
    id="midd-collection-item-label-377">
    <a href="#">
              Longer headline starting here lorem ipsum dolor sit amet consectetur
        adipisicing elit
          </a>
    <span class="badge badge--primary badge--outline ml-2">Video</span>
  </h3>
  <p class="f2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </p>

  <div class="d-flex f2 mt-3 mt-lg-4 font-semibold story-list-tags">

    <span class="mr-4 mt-3 mt-lg-2">Tags:</span>

    <ul class="d-flex flex-wrap mt-lg-1">
            <li class="mr-4 mt-3 mt-lg-0">
        <a href="#" class="link-underline">long tag 1</a>
        </li>
            <li class="mr-4 mt-3 mt-lg-0">
        <a href="#" class="link-underline">long tag 2</a>
        </li>
            <li class="mr-4 mt-3 mt-lg-0">
        <a href="#" class="link-underline">another long tag 3</a>
        </li>
            <li class="mr-4 mt-3 mt-lg-0">
        <a href="#" class="link-underline">another long tag 4</a>
        </li>
        </ul>

  </div>
</article>
