<div class="container">
  <div class="row">

    
          <div class="paragraphs paragraphs--wide">
                  <div class="typography paragraph--text">
          <div class="section__header">
        <h2 class="section__title">
          GOAL: $215 MILLION
        </h2>
      </div>
                      <p>A strong financial aid program ensures that promising students from all backgrounds—cultural, philosophical, ethnic, socioeconomic, geographic—can bring their perspectives and experiences to the Middlebury community. Living and learning in an environment like this can elevate students’ thinking, deepen their understanding, widen their lens on the world, and opens minds and hearts. By increasing financial aid resources, we’ll also create a more equitable experience once they’re here, ensuring every student can take advantage of everything Middlebury has to offer, from internships and academic conferences to opportunities to travel to essentials like laptops and books.</p>
            </div>          
          <hr>
          <div class="paragraph">
  <div class="section__header">
    <h2 class="section__title">
      <strong>Voices</strong> of Access
    </h2>
      </div>
  <div class="paragraph--video-group">
    <div class="container">
      <div class="row">
                  <div class="col-sm-6 mb-6 mb-md-0">
            <!-- video iframe html should be escaped -->
<figure class="video js-video" data-video='<iframe src="https://player.vimeo.com/video/221201240?autoplay=1" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>'>
  <div class="video__content js-video-content">
    <a href="https://player.vimeo.com/video/221201240" class="js-video-link video__link" role="button" aria-label="Play video" aria-describedby="midd-video-label-449">
      





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/1136x639" srcset="https://via.placeholder.com/400x225 400w,https://via.placeholder.com/640x360 640w,https://via.placeholder.com/832x468 832w,https://via.placeholder.com/1136x639 1136w"  sizes="(max-width: 1136px) 100vw, 1136px"  alt=""/>
      <button class="video__button">
        <span class="video__play-button">
          Play
          <span class="ml-3">
            <svg class="icon video-button " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-play">
</svg>
          </span>
        </span>
        <span class="video__duration" aria-label="3 minutes, 27 seconds">03:27</span>
      </button>
    </a>
  </div>
  <figcaption class="video__body">
          <h3 class="video__title" id="midd-video-label-449">Practical Skills for Positive Change</h3>
                  <div class="transcript js-transcript-449 grid-video__transcript">
  <a href="#midd-transcript-449"
    class="transcript__button"
    data-toggle-target=".js-transcript-449"
    aria-label="Toggle transcript"
    aria-expanded="false"
    role="button">
    Transcript<svg class="icon transcript__icon icon--sm" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>
  </a>
  <div class="transcript__body" id="midd-transcript-449">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
  </div>
</div>
      </figcaption>
</figure>
          </div>
                  <div class="col-sm-6 ">
            <!-- video iframe html should be escaped -->
<figure class="video js-video" data-video='<iframe src="https://player.vimeo.com/video/221201240?autoplay=1" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>'>
  <div class="video__content js-video-content">
    <a href="https://player.vimeo.com/video/221201240" class="js-video-link video__link" role="button" aria-label="Play video" aria-describedby="midd-video-label-955">
      





        
    
    
    
    

        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/1136x639" srcset="https://via.placeholder.com/400x225 400w,https://via.placeholder.com/640x360 640w,https://via.placeholder.com/832x468 832w,https://via.placeholder.com/1136x639 1136w"  sizes="(max-width: 1136px) 100vw, 1136px"  alt=""/>
      <button class="video__button">
        <span class="video__play-button">
          Play
          <span class="ml-3">
            <svg class="icon video-button " focusable="false" aria-hidden="true">
  <use xlink:href="#icon-play">
</svg>
          </span>
        </span>
        <span class="video__duration" aria-label="3 minutes, 27 seconds">03:27</span>
      </button>
    </a>
  </div>
  <figcaption class="video__body">
          <h3 class="video__title" id="midd-video-label-955">Practical Skills for Positive Change</h3>
                  <div class="transcript js-transcript-955 grid-video__transcript">
  <a href="#midd-transcript-955"
    class="transcript__button"
    data-toggle-target=".js-transcript-955"
    aria-label="Toggle transcript"
    aria-expanded="false"
    role="button">
    Transcript<svg class="icon transcript__icon icon--sm" focusable="false" aria-hidden="true">
  <use xlink:href="#icon-chevron-down">
</svg>
  </a>
  <div class="transcript__body" id="midd-transcript-955">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam, quo error
      nesciunt unde magni, vitae ea in vero mollitia porro beatae a temporibus
      iure excepturi aspernatur dolores iste, dignissimos aut?
    </p>
  </div>
</div>
      </figcaption>
</figure>
          </div>
              </div>
    </div>
  </div>
</div>

<hr>

<div class="typography paragraph--text">
          <div class="section__header">
        <h2 class="section__title">
          Funding Properties
        </h2>
      </div>
              <ul>
          <li><strong>Increase endowed scholarship funding</strong> for domestic and international students at the College</li>
          <li><strong>Build the base of endowed financial aid</strong> for the Middlebury Institute, Language Schools, and Bread Loaf School of English</li>
          <li><strong>Fund one summer of student contributions</strong> for financial aid recipients with the highest need</li>
          <li><strong>Provide financial support</strong> for laptops, course materials, equipment for extracurricular activities, and other essentials to ensure access to the full Middlebury experience</li>
          <li><strong>Increase current-use support</strong> for financial aid while endowment builds over the course of the campaign</li>
      </ul>
      <p>Lorem ipsum, dolor sit amet <a href="https://drive.google.com">google drive</a> adipisicing elit. Maxime blanditiis dolor delectus eum mollitia commodi alias laborum <a href="https://www.middlebury.edu/schools-abroad/sites/www.middlebury.edu.schools-abroad/files/2019-05/discipline%20grid%202019-20.pdf?fv=-8tHe8Vn">pdf file link</a> expedita consequatur, odio numquam ullam accusantium ad. Deserunt facere sequi eum quasi?</p>
    </div>
<hr>


<section class="paragraph" aria-labelledby="article-spotlight-label-1" data-digest-content>
  <div class="section__header">
    <h2 class="section__title" id="article-spotlight-label-1">Your Impact</h2>
  </div>
  <div class="paragraph--article-spotlight">
    <div class="container">
      <ul class="row justify-content-center">
                  <li class="col-md-4">
            <article
              class="article-spotlight-item"
              aria-labelledby="article-spotlight-item-label-1"
            >
              <div class="article-spotlight-item__media">
                <a href="">
                  





        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x232" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x232 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                </a>
              </div>
              <div class="article-spotlight-item__content">
                <a href="" class="article-spotlight-item__link">
                  <h3
                    class="article-spotlight-item__name"
                    id="article-spotlight-item-label-1"
                  >
                    “The Opportunity That Was Given to Me”
                  </h3>
                  <span class="badge badge--primary badge--outline ml-2">Video</span>
                </a>
                <p class="article-spotlight-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptate earum laboriosam eaque, eum possimus deserunt magnam animi doloremque beatae facilis ab molestiae placeat ratione veniam adipisci quae, quos porro.</p>
              </div>
            </article>
          </li>
                  <li class="col-md-4">
            <article
              class="article-spotlight-item"
              aria-labelledby="article-spotlight-item-label-2"
            >
              <div class="article-spotlight-item__media">
                <a href="">
                  





        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x232" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x232 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                </a>
              </div>
              <div class="article-spotlight-item__content">
                <a href="" class="article-spotlight-item__link">
                  <h3
                    class="article-spotlight-item__name"
                    id="article-spotlight-item-label-2"
                  >
                    “The Opportunity That Was Given to Me”
                  </h3>
                  <span class="badge badge--primary badge--outline ml-2">Audio</span>
                </a>
                <p class="article-spotlight-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptate earum laboriosam eaque, eum possimus deserunt magnam animi doloremque beatae facilis ab molestiae placeat ratione veniam adipisci quae, quos porro.</p>
              </div>
            </article>
          </li>
                  <li class="col-md-4">
            <article
              class="article-spotlight-item"
              aria-labelledby="article-spotlight-item-label-3"
            >
              <div class="article-spotlight-item__media">
                <a href="">
                  





        
    
    
    
    

        
    
    
    
    

        
    
                        
    
    


    <img src="https://via.placeholder.com/416x232" srcset="https://via.placeholder.com/288x162 288w,https://via.placeholder.com/336x189 336w,https://via.placeholder.com/416x232 416w"  sizes="(max-width: 416px) 100vw, 416px"  alt=""/>
                </a>
              </div>
              <div class="article-spotlight-item__content">
                <a href="" class="article-spotlight-item__link">
                  <h3
                    class="article-spotlight-item__name"
                    id="article-spotlight-item-label-3"
                  >
                    “The Opportunity That Was Given to Me”
                  </h3>
                  <span class="badge badge--primary badge--outline ml-2">Audio</span>
                </a>
                <p class="article-spotlight-item__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptate earum laboriosam eaque, eum possimus deserunt magnam animi doloremque beatae facilis ab molestiae placeat ratione veniam adipisci quae, quos porro.</p>
              </div>
            </article>
          </li>
              </ul>
    </div>
  </div>
</section>
              </div>
      </div>
</div>

