{% extends "campaign-top-level.twig" %}

{% set has_page_image = false %}

{% block page_header %}
  {% include 'partials/page-header.twig' with {
    title: 'Get Involved',
    image_src: has_page_image
  } %}
{% endblock %}

{% block layout_header %}
  {% include 'partials/campaign-header.twig' with {
    is_block: true,
    dark: true
  } %}
{% endblock %}

{% block page %}
  {% embed 'partials/top-level-layout.twig' with {
    show_menu: false
  } %} 
    {% block paragraphs %}
      {% embed 'paragraphs/text.twig' %}
        {% block text_body %}
          <p>If you are interested in volunteering, please complete our <a href="#">volunteer registration for</a> and indicate your area(s) of interest. A staff member will then be in touch with you. If you would like more information about volunteer roles and time commitments, please email us at <a href="mailto:alumni@middlebury.edu">alumni@middlebury.edu</a> or call the alumni office at <a href="tel:+18024435183">(802) 443-5183</a>.</p>
        {% endblock %}
      {% endembed %}
      <hr>
       {% include 'paragraphs/small-image-with-text.twig' with {
          name: 'small_events_image',
          text: '<h3><strong>BURLINGTON, VT</strong></h3>

<p><strong>Wednesday, December 6</strong><br />
An evening to celebrate the warmth of the holiday season and the launch of For Every Future: The Campaign for Middlebury</p>

<p><strong>6:00 PM</strong><br />
Refreshments, Mingling, and Good Cheer</p>

<p><strong>7:00 PM</strong><br />
Purpose and Place, Voices of Middlebury<br />
<em>An Evening of Storytelling&nbsp;</em></p>

<p><strong>Hula</strong><br />
50 Lakeside Avenue<br />
Burlington, Vermont</p>

<p><a href="https://engage.middlebury.edu/pages/events/fy24/for-every-future-campaign-launch-in-burlington-vt">Register for Burlington</a></p>
'
        } %}
      <hr>
      {% include 'paragraphs/quad-story.twig' with {
        title: 'Connect with Middlebury'
      } %}
      <hr>
      {% include 'paragraphs/quad-story.twig' with {
        title: 'Volunteer'
      } %}
    {% endblock %}
  {% endembed %}
{% endblock %}
