.campaign-video {
    color: $white;

    .campaign-video--container {
        @include make-container;
        padding: 0;
        max-width: 1136px;
    }

    .transcript a {
        color: $white;
    }

}