$intro-text-animation-duration: 1s;
$intro-text-animation: fadeInFromTop $intro-text-animation-duration ease-in forwards;

.campaign-section {
    position: relative;
    color: $white;
    overflow: hidden; 
    
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: percentage(9/16);
    }

    &.intro {
        &:before {
            padding-top: 100vh;
        }
    }

    &.pillars {
        background-color: $yellow;
        .campaign-section__title-border {
            @include make-col(5);
        }
    }

    &.video-group {
        .campaign-section__title-border {
            max-width: percentage(5/7);
        }
    }

    &.stats {
        background-color: $light-green;
        
        &:before {
            padding-top: percentage(113/240);
        }
    }

    .campaign-section__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &.mega-cta-panel {
        .campaign-section__wrapper {
            background: linear-gradient(360deg, rgba($navy-dark, 0.4) 30%, rgba($navy-dark, 0.3) 60%, rgba($navy-dark, 0.6) 100%);
        }
    }

    .campaign-section__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    
        video[poster] {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.video {
            position: fixed;
            background: transparent no-repeat 50% 0% / cover;

            &:after {
                opacity: 1;
                background-color: $navy-dark;
                animation: fadeBackground 0.5s ease-in 2s forwards;
            }
        }

        &.image {
            img {
                width: 100%;
            }
        }
    }

    .campaign-section__title {
        display: flex;
        flex-direction: column;
        font-weight: $font-weight-normal;
        font-size: rem(32);
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: $spacing-8;

        @include make-border-styles;

        .campaign-section__title-border {
            border-top: 4px solid;
            padding-bottom: $spacing-2;
        }
    }

    .campaign-section__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .campaign-intro__intro-anim {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;

            .intro-anim__wordmark {
                position: relative;
                position: absolute;
                width: 100%;
                margin: auto;
                animation: fadeOut 1s ease-out forwards 2s;
                
                > * {
                    width: 100%;
                }
            }

            .campaign-wordmark__mask {
                position: absolute;
                top: 0;
                left: 0;
                animation: revealLeftToRight 2s ease-in-out forwards;
            }

            .intro-anim__text {
                width: 100%;
                margin-bottom: $spacing-8;

                span {
                    display: block;
                    animation: $intro-text-animation;
                    opacity: 0;
                }

                p {
                    font-size: rem(32);
                    font-weight: $font-weight-semibold;
                    letter-spacing: $letter-spacing-solid;
                    color: white;
                    text-transform: uppercase;
                }

                .line-two {
                    padding-top: $spacing-4;
                    color: $yellow;
                }

                .intro-anim__text-top {
                    .line-one {
                        animation-delay: 3s;
                    }

                    .line-two {
                        animation-delay: #{3 + ($intro-text-animation-duration * 1)};
                    }
                }

                .intro-anim__text-middle {
                    margin-top: $spacing-8;

                    .line-one {
                        animation-delay: #{3 + ($intro-text-animation-duration * 2)};
                    }

                    .line-two {
                        color: $light-green;
                        animation-delay: #{3 + ($intro-text-animation-duration * 3)};
                    }
                }

                .intro-anim__text-bottom {
                    width: fit-content;
                    margin: auto;
                    margin-top: $spacing-8;
                    color: $red;
                    opacity: 0;
                    animation: $intro-text-animation;
                    animation-delay: #{3 + ($intro-text-animation-duration * 4)};
                }
            }
        }
        
        .campaign-intro__cta {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            bottom: $spacing-1;
            
            button {
                margin: 0 auto;

                .button {
                    font-size: $typescale-3;
                }
            }
        }

        .scroll-anim {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: $spacing-5;

            img:nth-child(2) {
                margin-top: $spacing-2;
            }

            .scroll-anim__arrow {
                animation: moveUpDown 1s ease-in-out infinite;
            }
        }
    }
}