$campaign-header-breakpoint: lg;

.campaign-header {
  background: transparent;
  color: $white;
  width: 100%;
  position: fixed;
  z-index: $z-index-campaign-header;
  font-size: $typescale-2;
  font-weight: $font-weight-bold;
  line-height: $line-height-solid;
  letter-spacing: $letter-spacing-base;
  padding: $spacing-4 0;

  @media print {
    border: 0;
  }
}

.campaign-header__title {
  font-size: 100%;
}

.campaign-header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 $spacing-3;

  @include breakpoint(lg) {
    margin: 0 $spacing-5;
  }
}

.campaign-header__logo {
  padding-top: $spacing-2;
  padding-bottom: $spacing-2;
}

.campaign-header__content {
//   display: flex;
//   align-items: flex-start;
//   justify-content: flex-start;
//   flex-direction: row-reverse;

//   @include breakpoint($campaign-header-breakpoint) {
//     position: relative;
//   }
}

.campaign-header__logo {
  display: flex;
  flex-direction: column;

  img:first-child {
      margin-left: -$spacing-8;
      margin-bottom: $spacing-3;
  }
}