.campaign-video {
    color: $white;

    .campaign-video--container {

        .campaign-video--title {
          font-size: rem(32);
          font-weight: $font-weight-semibold;
          text-transform: uppercase;
          color: $light-green;
          margin-bottom: $spacing-3;
        }

        @include make-container;
        margin-top: $spacing-9;
        margin-bottom: $spacing-9;

        @include breakpoint(lg) {
            margin-top: rem(120);
            margin-bottom: rem(120);
        }

        .video {
            margin: auto;
            @include make-col(12);

            @include breakpoint(lg) {
                @include make-col(8);
                // padding: 0 $spacing-5;
            }
        }
    }

    .transcript a {
        color: $white;
    }

}