$campaign-header-breakpoint: lg;

.campaign-header {
  background: transparent;
  color: $white;
  width: 100%;
  position: fixed;
  z-index: $z-index-campaign-header;
  font-size: $typescale-2;
  font-weight: $font-weight-bold;
  line-height: $line-height-solid;
  letter-spacing: $letter-spacing-base;
  padding: $spacing-3 0;

  @include breakpoint(md) {
    padding: $spacing-4 0;
  }

  @media print {
    border: 0;
  }

  &.campaign-header--block,
  &.campaign-header--sticky {
    display: block;

    .campaign-header__logo {
      svg {
        opacity: 1;
        animation: initial;
      }
    }
  }

  &.campaign-header--sticky {
    position: absolute;
  }

  &.campaign-header--block {
    position: initial;
  }

  &.text-dark {
    color: $navy-dark;

    button {
      &.button--outer-border {
        border-color: $navy-dark;
      }

      .button--light.button--outline {
        color: $navy-dark;
        border-color: $navy-dark;
      }

      &.campaign-nav__handle {
        color: $navy-dark;
      }
    }

    .campaign-header__logo {
      svg {
        fill: $navy-dark;
      }
    }
  }
}

.campaign-header__title {
  font-size: 100%;
}

.campaign-header__main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.campaign-header__logo {
  display: flex;
  flex-direction: column;

  svg {
    fill: $white;

    &:first-child {
      margin-left: -$spacing-5;
      margin-bottom: $spacing-2;
      opacity: 0;
      
      animation: fadeIn 1s ease-in 3s forwards;

      width: 200px;

      @include breakpoint(md) {
        width: initial;
        margin-left: -$spacing-8;
        margin-bottom: $spacing-3;
      }
    }

    &:nth-child(2) {
      width: 200px;

      @include breakpoint(md) {
        width: initial;
      }
    }
  }
}