.campaign-section {
    position: relative;
    color: $white;
    overflow: hidden; 
    
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: percentage(377/160); 

        @include breakpoint(sm) {
            padding-top: percentage(225/256);
        }

        @include breakpoint(lg) {
            padding-top: percentage(9/16);
        }
    }

    &.intro {
        &:before {
            padding-top: 100vh;
        }
    }

    &.pillars {
        background-color: $yellow;
    }

    &.video-group {
        .campaign-section__title-border {
            max-width: percentage(5/7);
        }
    }

    &.homepage-stats {
        background-color: $light-green;

        &:before {
            padding-top: percentage(475/320); 

            @include breakpoint(sm) {
                padding-top: percentage(225/256);
            }

            @include breakpoint(lg) {
                padding-top: percentage(9/16);
            }
        }
    }

    .campaign-section__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &.mega-cta-panel {
        &:before {
            background: linear-gradient(360deg, rgba($navy-dark, 0.4) 30%, rgba($navy-dark, 0.3) 60%, rgba($navy-dark, 0.6) 100%);
        }
    }

    .campaign-section__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    
        video[poster] {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    
        &:after {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        &.video {
            position: fixed;
            background: transparent no-repeat 50% 0% / cover;

            &:after {
                opacity: 1;
                background-color: $navy-dark;
                animation: fadeBackground 0.5s ease-in 2s forwards;
            }
        }

        &.image{
            background-image: url('https://via.placeholder.com/1440x810');
            background-size: cover;
            background-position: center center;
        }
    }

    .video--button {
        position: absolute;
        bottom: $spacing-3;
        right: $spacing-3;
        color: white;
        z-index: 30;
        opacity: 0.5;
        display: block;
    
        // @include breakpoint(sm) {
        //   display: block;
        // }
    
        // @include breakpoint(lg) {
        //   bottom: $spacing-5;
        //   left: $spacing-5;
        // }
    
        @media (prefers-reduced-motion: reduce) {
          display: none;
        }
    
        .video--button-play {
          display: none;
        }
    
        .video--button-pause {
          display: block;
        }
    
        &.not-playing {
          .video--button-play {
            display: block;
          }
    
          .video--button-pause {
            display: none;
          }
        }
    
        .icon {
          width: $typescale-9;
          height: $typescale-9;
        }
      }

    .campaign-section__title {
        display: flex;
        flex-direction: column;
        font-weight: $font-weight-normal;
        font-size: $typescale-4;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: $spacing-4;

        @include breakpoint(md) {
            font-size: $typescale-6;
            margin-bottom: $spacing-8;
        }

        @include breakpoint(lg) {
            font-size: $typescale-7;
        }

        @include breakpoint(xl) {
            font-size: rem(32);
        }

        @include make-border-styles;

        .campaign-section__title-border {
            border-top: 4px solid;
            padding-bottom: $spacing-2;
        }
    }

    .campaign-section__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}