%make-columns {
  @include make-col-ready;

  @include breakpoint(sm) {
    @include make-col(8);
  }
}

.mega-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $white;
  padding: 0 $spacing-3;

  @include breakpoint(sm) {
    padding: 0;
  }
}

.mega-cta__content {
  @extend %make-columns;

  button {
    > * {
      font-size: $typescale-2;
    }
  }
}

.mega-cta__content-border {
  position: absolute;
  border-left: 4px solid $light-green;
  height: 100%;
}

.mega-cta__text-content {
  margin-left: $spacing-3;

  @include breakpoint(md) {
    margin-left: $spacing-5;
  }
}

.mega-cta__title {
  font-size: rem(40);
  font-weight: $font-weight-normal;
  letter-spacing: $letter-spacing-solid;
  text-transform: uppercase;
  margin-bottom: $spacing-5;
  line-height: $line-height-basic;

  @include breakpoint(md) {
    font-weight: $font-weight-light;
    font-size: $typescale-10;
  } 
}

.mega-cta__date-time {
  font-size: $typescale-4;
  font-weight: 400;
  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-solid;
  text-transform: uppercase;
  padding-bottom: $spacing-2;

  @include breakpoint(md) {
    font-size: $typescale-6;
  }

  @include breakpoint(xl) {
    padding-bottom: $spacing-3;
  }

  span {
    display: block;
  }
}

.mega-cta__text {
  font-size: $typescale-2;
  margin-bottom: $spacing-7;

  @include breakpoint(md) {
    font-size: $typescale-4;
  }
}
