.page-header {
}

.page-header__title {
  font-size: rem(32);
  font-weight: $font-weight-medium;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-secondary;

  @include breakpoint(md) {
    font-weight: $font-weight-light;
    font-size: $typescale-10;
  }
}

.page-header--has-image {
  padding-top: percentage(2 / 5);
  height: 0;
  position: relative;
  overflow: hidden;
  min-height: 300px;

  img {
    @include absolute-fill;
    object-fit: cover;
  }

  .page-header__title {
    color: $white;
    padding-right: $spacing-4; // make room for tooltip on image
  }
}

.page-header__figure {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page-header__caption {
  position: absolute;
  right: $spacing-3;
  bottom: $spacing-7;
  z-index: $z-index-page-header-caption;

  @include breakpoint(md) {
    bottom: $spacing-4;
    right: $spacing-5;
  }
}

.page-header__main {
  .page-header--has-image & {
    background-image: linear-gradient(to bottom, transparent, $black);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .page-header__content {
    margin-bottom: $spacing-4;

    @include breakpoint(lg) {
    margin-bottom: $spacing-5;
    }
  }
}

.page-header--has-menu {
  margin-bottom: 0;
}

.page-header__content {
  @include make-col-ready;
  padding-top: $spacing-5;

  @include breakpoint(md) {
    padding-top: $spacing-6;

    @include make-col(10);
    @include make-col-offset(1);
  }

  @include breakpoint(lg) {
    padding-top: $spacing-9;
  }

  .page-header--has-image & {
    padding-top: $spacing-9;
  }
}

.page-header--basic {
  margin-bottom: $spacing-4;

  @include breakpoint(md) {
    margin-bottom: $spacing-5;
  }

  @include breakpoint(lg) {
    margin-bottom: $spacing-7;
  }

  .page-header__content {
    padding: 0;
    margin: 0;
    max-width: initial;
    margin-top: $spacing-5;

    @include breakpoint(md) {
      margin-top: $spacing-6;
    }

    @include breakpoint(lg) {
      margin-top: 0;
    }
  }
}
