.pullquote {
  margin-top: $spacing-5;
  margin-bottom: $spacing-5;

  @include breakpoint(md) {
    margin-top: $spacing-7;
    margin-bottom: $spacing-7;
  }

  .quote__text {
    color: $blue;
    font-size: $typescale-6;
    line-height: $line-height-body;
    padding-top: $spacing-2;
    padding-bottom: $spacing-2;
    padding-left: rem(12);

    @include breakpoint(md) {
      padding-top: $spacing-3;
      padding-bottom: $spacing-3;
    }

    @include breakpoint(xl) {
      font-size: $typescale-7;
    }

    .quote--marks {
      quotes: '\201C' '\201D';
      position: relative;
    
      &:before {
        content: open-quote;
        top: -1*rem(4);
        right: 100%;
        left: -1*rem(12);
        position: absolute;
      }
    
      &:after {
        // content: close-quote;
      }
    }
  }

  .quote__cite {
    font-size: $typescale-2;
    padding-bottom: $spacing-2;
    padding-left: rem(12);

    @include breakpoint(md) {
      padding-bottom: $spacing-3;
    }
  }

  svg {
    height: rem(14);
  } 
}