.section__title {
    font-size: $typescale-7;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    padding-top: $spacing-8;
    padding-bottom: $spacing-7;
    // border-top: 1px solid currentColor;
    margin: 0 !important;

    @include breakpoint(md) {
        font-size: rem(32);
    }

    @include breakpoint(lg) {
        padding-top: $spacing-9;
    }
}