.section__header {
  h2 {
    font-size: $typescale-7;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    margin-bottom: $spacing-4;
    
    @include breakpoint(md) {
      font-size: rem(32);
      margin-bottom: $spacing-5;
    }

    @include breakpoint(lg) {
      margin-bottom: $spacing-7;
    }
  }
}

