.story-tags {
    border-top: 1px solid $gray-light;
    text-transform: uppercase;
    flex-direction: column;

    @include breakpoint(md) {
        flex-direction: row;
    }
}

.story-list-tags {
    font-size: $typescale-1;
    font-weight: $font-weight-semibold;
    text-transform: uppercase;
    letter-spacing: $letter-spacing-secondary;
    flex-direction: column;
    border-top: 1px solid $gray-light;

    ul {
        flex-direction: column;

        @include breakpoint(lg) {
            flex-direction: row;
        }
    }
}