.two-col-linked-list {
    margin-bottom: $spacing-8;

    @include breakpoint(md) {
        margin-bottom: $spacing-9;
    }
    
    li {
        font-size: $typescale-3;
        font-weight: $font-weight-semibold;
        line-height: $line-height-solid;
        letter-spacing: $letter-spacing-secondary;
        text-transform: uppercase;

        @include breakpoint(md) {
            font-weight: $font-weight-medium;
            font-size: $typescale-5;
        }

        @include breakpoint(lg) {
            font-size: $typescale-7;
        }

        a {
            display: block; 
            width: 100%;
            border-top: 4px solid $color-access;
            padding-top: $spacing-2;
            line-height: $line-height-basic;


            @include breakpoint(lg) {
                border-top-width: 8px;
                padding-top: $spacing-4;
            }

            &.access {
                border-top-color: $color-access;
            }
            
            &.academic-excellence {
                border-top-color: $color-academic-excellence;
            }
        
            &.experience {
                border-top-color: $color-experience;
            }
        
            &.unrestricted-giving {
                border-top-color: $color-unrestricted-giving;
            }
        
            &.capital-projects {
                border-top-color: $color-capital-projects;
            }
        }

        p {
            font-size: $typescale-2;
            font-weight: $font-weight-normal;
            letter-spacing: initial;
            text-transform: none;
            margin-top: $spacing-3;

            @include breakpoint(lg) {
                font-size: $typescale-3;
                padding-right: $spacing-9;
            }
        }
    }
}