////
/// Display property utilities
////

@each $breakpoint, $variant in $responsive-variants {
    @include breakpoint($breakpoint) {
      .d#{$variant}-none {
        display: none !important;
      }
  
      .d#{$variant}-inline {
        display: inline !important;
      }
  
      .d#{$variant}-inline-block {
        display: inline-block !important;
      }
  
      .d#{$variant}-block {
        display: block !important;
      }
  
      .d#{$variant}-flex {
        display: flex !important;
      }
  
      .d#{$variant}-inline-flex {
        display: inline-flex !important;
      }
    }
 }

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}