///
/// font sizes
///

@each $name, $size in $typescale {
    .f#{$name} {
        font-size: $size;
    }
}

///
/// lead
///

.lead {
    font-size: $lead-font-size;
    line-height: $lead-line-height;
    // padding-bottom: $lead-margin-bottom;

    a {
        @include link-border;
    }
}


///
/// links
///

.link-underline {
    @include link-border;
}

///
/// font weight
///

.font-normal {
    font-weight: $font-weight-normal;
}

.font-medium {
font-weight: $font-weight-medium;
}

.font-semibold {
font-weight: $font-weight-semibold;
}

.font-bold,
// text-bold is deprecated
.text-bold {
font-weight: $font-weight-bold;
}
  
  