////
/// Sass mixins
////

@use '../mixins/basic-level-themes';
@use '../mixins/breakpoints';
@use '../mixins/clearfix';
@use '../mixins/grid-framework';
@use '../mixins/grid';
@use '../mixins/screen-reader';
@use '../mixins/buttons';
@use '../mixins/type';

// Scope

@use '../scope/campaign-section';

@mixin absolute-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@mixin print-hide() {
    @media print {
        display: none !important;
    }
}

@mixin contains-links {
    a {
      @include link-border;
    }
  }
  