<div class="paragraph--image-text">
  <div class="container media-object {% if right %} media-object--right{% endif %}">
    <span class="{% if not right %} offset-md-1{% endif %} media-object__border {{color}}"></span>
    <div class="media-object__image d-none d-md-inline-block">
      {% include 'partials/img.twig' with {
        name: 'image_text'
      } %}
    </div>
    <div class="media-object__body">
      <h3><a>{{title}}</a></h3>
      <div class="media-object__image d-md-none">
        {% include 'partials/img.twig' with {
          name: 'image_text'
        } %}
      </div>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, nulla. Error ea corrupti repellat asperiores fuga magnam minus, dolore veritatis eos? Laudantium, reiciendis quos. Est provident sint dolorem temporibus quam!</p>
      <a class="media-object__body-link">Go to {{title}} »</a>
    </div>
  </div>
</div>
