<div class="paragraph--mega-cta">
    <div class="container px-0">
        <section class="mega-cta" aria-labelledby="midd-mega-cta-label-{{id}}">
            <div class="mega-cta__content px-0">
                <span class="mega-cta__content-border"></span>
                <div class="mega-cta__text-content">
                    <h2 class="mega-cta__title" id="midd-mega-cta-label-{{id}}">Hello Chicago</h2>
                    <time class="mega-cta__date-time"><span>August 28</span><span>8:00 - 10:00 PM</span></time> 
                    <p class="mega-cta__text">
                        {{text}}
                    </p>
                    <a href="#" class="button--outer-border">
                        <span class="button button--light button--outline">Register Now</span>
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>
