<figure class="pullquote paragraph--quote">
  <svg width="100%" height="100%" viewBox="0 0 896 14" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="6" width="600" height="2" fill="#A7C504"/>
    <rect x="296" y="12" width="600" height="2" fill="#FFC943"/>
    <rect x="176" width="600" height="2" fill="#ACD6EB"/>
  </svg>
  <blockquote class="quote__text"><span class="{{has_quotes ? 'quote--marks' : ''}}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore dolores adipisci neque qui modi aliquam voluptates asperiores pariatur autem, eligendi sunt dolor voluptatum assumenda, soluta laborum nobis, harum, est.</span></blockquote>
  <figcaption class="quote__cite">&mdash; Michael Green</figcaption> 
  <svg width="100%" height="100%" viewBox="0 0 896 14" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg">
    <rect y="6" width="600" height="2" fill="#A7C504"/>
    <rect x="296" y="12" width="600" height="2" fill="#FFC943"/>
    <rect x="176" width="600" height="2" fill="#ACD6EB"/>
  </svg>
</figure>
