<div class="paragraph--small-image-with-text small-media-object">
    {% include 'partials/img.twig' with {
        name: name
    } %}
    <div class="typography">
            {{text}}
    </div>
</div>