<div class="container two-col-linked-list">
    <ul class="row">
        <li class="col-6"><a class="unrestricted-giving">Unrestricted Giving</a></li>
        <li class="col-6"><a class="capital-projects">Capital Projects</a></li>
    </ul>
</div>