<div class="paragraph">
  <div class="section__header">
    <h2 class="section__title">
      <strong>Voices</strong> of Access
    </h2>
    {% if blurb %}
      <p class="section__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus
        quam optio ratione labore possimus iusto corrupti vero fugiat explicabo
        officiis ex, a sunt obcaecati molestias voluptate eum earum ipsam
        accusantium.
      </p>
    {% endif %}
  </div>
  <div class="paragraph--video-group">
    <div class="container">
      <div class="row">
        {% for item in 1..2 %}
          <div class="col-sm-6 {{not loop.last ? "mb-6 mb-md-0" : ""}}">
            {% include 'partials/video.twig' with {
              id: loop.index,
              hide_caption_text: true,
              top_level: true
            } %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
