<div class="campaign-intro__intro-anim">
    <div class="intro-anim__wordmark">
        <svg class="campaign-wordmark" viewBox="0 0 1440 119" width="100%" height="100%" preserveAspectRatio="none" aria-labelledby="campaign-wordmark--title" xmlns="http://www.w3.org/2000/svg" role="img">
            <title id="campaign-wordmark--title">For every future</title>
            <path d="M8.03013 9.47735V54.9108H46.9911L48.1808 62.2127H8.03013V116.644H0V2.17554H56.025V9.47735H8.03013Z" fill="white"/>
            <path d="M122.905 118.784C93.3129 118.784 71.7134 94.2229 71.7134 59.5577C71.7134 24.8925 93.6475 0 123.277 0C152.907 0 174.469 24.5606 174.469 59.2258C174.469 93.891 152.572 118.784 122.943 118.784H122.905ZM122.905 7.11742C97.4767 7.11742 80.0781 28.691 80.0781 59.2258C80.0781 89.7607 97.6254 111.666 123.24 111.666C148.855 111.666 166.067 90.0926 166.067 59.5577C166.067 29.0229 148.52 7.11742 122.905 7.11742Z" fill="white"/>
            <path d="M266.407 117.788L228.115 65.3473H210.047V116.607H202.017V2.17554H229.267C251.834 2.17554 265.552 14.124 265.552 33.0423C265.552 50.7805 252.168 61.5857 237.112 64.3885L274.92 115.981L266.407 117.788ZM228.784 9.29296H210.047V58.4142H226.591C245.328 58.4142 257.187 48.9735 257.187 33.3742C257.187 17.7749 247.484 9.32984 228.747 9.32984L228.784 9.29296Z" fill="white"/>
            <path d="M321.094 116.644V2.17554H388.16V20.7251H342.991V48.0884H377.788L380.799 66.4905H342.991V98.021H389.833V116.607H321.094V116.644Z" fill="white"/>
            <path d="M464.112 117.309H441.695L399.537 4.9789L422.772 0.996094L453.703 88.7653L483.853 2.17618H507.088L464.112 117.309Z" fill="white"/>
            <path d="M522.814 116.644V2.17554H589.88V20.7251H544.711V48.0884H579.508L582.519 66.4905H544.711V98.021H591.553V116.607H522.814V116.644Z" fill="white"/>
            <path d="M673.007 116.755L641.407 72.8335H632.038V116.644H609.956V2.17554H645.757C671.52 2.17554 687.06 14.2715 687.06 36.5088C687.06 53.2513 678.026 63.7246 663.639 68.7031L697.432 116.644L673.007 116.792V116.755ZM644.084 19.7294H631.89V56.0909H643.08C656.798 56.0909 665.311 49.6373 665.311 37.6889C665.311 25.7405 657.95 19.7663 644.084 19.7663V19.7294Z" fill="white"/>
            <path d="M756.951 72.8341V116.645H734.72V73.0185L694.42 4.647L717.507 0.996094L746.43 52.5882L774.536 2.13931H798.626L756.989 72.7972L756.951 72.8341Z" fill="white"/>
            <path d="M872.868 30.0183V48.4203H900.973L905.658 76.1156H872.868V116.607H838.926V2.17554H911.866V30.0552H872.905L872.868 30.0183Z" fill="white"/>
            <path d="M972.873 118.304C944.619 118.304 923.54 104.217 923.54 70.5102V2.17554H957.816V71.0265C957.816 83.6387 963.653 90.2767 973.356 90.2767C983.728 90.2767 988.747 83.3068 988.747 71.3584V2.17554H1023.02V70.5102C1023.02 103.848 1000.79 118.304 972.836 118.304H972.873Z" fill="white"/>
            <path d="M1099.5 30.3502V116.644H1065.22V30.3502H1034.29V2.17554H1127.12L1131.8 30.3871H1099.53L1099.5 30.3502Z" fill="white"/>
            <path d="M1190.32 118.304C1162.06 118.304 1140.99 104.217 1140.99 70.5102V2.17554H1175.26V71.0265C1175.26 83.6387 1181.1 90.2767 1190.8 90.2767C1201.17 90.2767 1206.19 83.3068 1206.19 71.3584V2.17554H1240.47V70.5102C1240.47 103.848 1218.24 118.304 1190.28 118.304H1190.32Z" fill="white"/>
            <path d="M1317.13 116.755L1296.35 81.131H1291.18V116.644H1257.24V2.17554H1301.4C1331.18 2.17554 1348.24 15.2672 1348.24 39.8278C1348.24 55.2427 1341.22 66.1955 1328.17 72.8335L1356.35 116.755H1317.17H1317.13ZM1297.68 26.8837H1290.84V57.5661H1297.87C1308.91 57.5661 1314.93 51.9237 1314.93 41.8192C1314.93 31.7147 1308.76 26.8837 1297.72 26.8837H1297.68Z" fill="white"/>
            <path d="M1363.41 116.644V2.17554H1439.51V28.8751H1396.87V45.2857H1429.14L1433.3 71.6534H1396.83V89.9079H1441V116.607H1363.38L1363.41 116.644Z" fill="white"/>
        </svg>
        <svg class="campaign-wordmark__mask" viewBox="0 0 1440 119" width="100%" height="100%" preserveAspectRatio="none" aria-labelledby="campaign-wordmark__mask--title" xmlns="http://www.w3.org/2000/svg" role="img">
            <title id="campaign-wordmark__mask--title">Rectangle mask for animation</title>
            <rect width="1440" height="119" fill="#022543"/>
        </svg>
    </div>
    <div class="intro-anim__text container">
        <p class="intro-anim__text-top">
            <span class="offset-1 line-one">For every student who’s pursuing</span>
            <span class="offset-5 line-two">meaningful work in the world.</span>
        </p>
        <p class="intro-anim__text-middle">
            <span class="offset-3 line-one">For every alum, parent, and friend</span>
            <span class="offset-6 line-two">who sees the value in supporting</span>
        </p>
        <p class="intro-anim__text-bottom">This next generation.</p>
    </div>
</div>
<div class="campaign-intro__cta">
    <button class="button--outer-border">
        <span class="button button--light">What we're about</span>
    </button>
    <div class="scroll-anim">
        <img class="scroll-anim__mouse" src="img/mouse.png"
            alt="Mouse clipart"
            width="18"
            height="30"/>
        <img class="scroll-anim__arrow" src="img/arrow.png"
            alt="Arrow clipart"
            width="6"
            height="43"
        />
    </div>
</div>