<div class="campaign-intro__intro-anim">
    <div class="intro-anim__wordmark">
        <img src="img/campaign-slogan.svg" class="campaign-wordmark"
            alt="For every future" 
            width="1440" 
            height="118"/>
        <img src="img/rectangle.svg" class="campaign-wordmark__mask"
            width="1440" 
            height="119"
        />
    </div>
    <div class="intro-anim__text container">
        <p class="intro-anim__text-top">
            <span class="offset-1 line-one">For every student who’s pursuing</span>
            <span class="offset-5 line-two">meaningful work in the world.</span>
        </p>
        <p class="intro-anim__text-middle">
            <span class="offset-3 line-one">For every alum, parent, and friend</span>
            <span class="offset-6 line-two">who sees the value in supporting</span>
        </p>
        <p class="intro-anim__text-bottom">This next generation.</p>
    </div>
</div>
<div class="campaign-intro__cta">
    <button class="button--outer-border">
        <span class="button button--light">What we're about</span>
    </button>
    <div class="scroll-anim">
        <img class="scroll-anim__mouse" src="img/mouse.png"
            alt="Mouse clipart"
            width="18"
            height="30"/>
        <img class="scroll-anim__arrow" src="img/arrow.png"
            alt="Arrow clipart"
            width="6"
            height="43"
        />
    </div>
</div>