<img src="img/campaign-slogan.svg" class="campaign-wordmark"
    alt="For every future" 
    width="1440" 
    height="118"/>
<div class="campaign-section__cta">
    <button class="button--outer-border">
        <span class="button button--light">What we're about</span>
    </button>
    <div class="campaign-section__scroll-anim">
        <img src="img/mouse.png"
            alt="Mouse clipart"
            width="18"
            height="30"/>
        <img src="img/arrow.png"
            alt="Arrow clipart"
            width="6"
            height="43"
        />
    </div>
</div>