<div class="campaign-video">
    <div class="campaign-video--container">
        {% include 'partials/video.twig' with {
            id: id,
            no_transcript: false,
            hide_caption_text: true
        } %}
    </div>
</div>