<div class="campaign-intro__intro-anim">
    <div class="intro-anim__wordmark">
        <img src="img/campaign-slogan.svg" class="campaign-wordmark"
            alt="For every future" 
            width="1440" 
            height="118"/>
        <img src="img/rectangle.svg" class="campaign-wordmark__mask"
            width="1440" 
            height="119"
        />
    </div>
    {# <div class="intro-anim__text container">
        <p>For every student who’s pursuing</p>
        <p>meaningful work in the world.</p>
        <p>For every alum, parent, and friend</p>
        <p>who sees the value in supporting</p>
        <p>generation</p>
    </div> #}
</div>
<div class="campaign-intro__cta">
    <button class="button--outer-border">
        <span class="button button--light">What we're about</span>
    </button>
    <div class="scroll-anim">
        <img class="scroll-anim__mouse" src="img/mouse.png"
            alt="Mouse clipart"
            width="18"
            height="30"/>
        <img class="scroll-anim__arrow" src="img/arrow.png"
            alt="Arrow clipart"
            width="6"
            height="43"
        />
    </div>
</div>