<div class="container px-0 {{class}}">

  <header class="page-header{% if basic_level %} page-header--basic{% endif %}{% if image_src %} page-header--has-image{% endif %}{% if has_menu %} page-header--has-menu{% endif %}{% if app_header %} page-header--app{% endif %}" aria-labelledby="midd-page-header-label">

    {% if image_src %}
      <figure class="page-header__figure">
        {% include 'partials/img.twig' with { name: 'top_level' } %}

        {# <figcaption class="sr-only">
        </figcaption> #}
      </figure>
    {% endif %}

    <div class="page-header__main">
      <div class="page-header__content">

        <h1 class="page-header__title" id="midd-page-header-label">{{title}}</h1>
        {{pronouns}}

        {# {{after_title}} #}

        {# {% if menu_items is not empty %}
          {% include 'partials/box-menu.twig' with { items: menu_items, class: 'mb-0' } %}
        {% endif %} #}

      </div>
    </div>
  </header>

</div>
