<div class="container px-0 {{class}}">

  <header class="page-header{% if basic_level %} page-header--basic{% endif %}{% if image_src %} page-header--has-image{% endif %}{% if has_menu %} page-header--has-menu{% endif %}{% if app_header %} page-header--app{% endif %}">

    {% if image_src %}
      <figure class="page-header__figure">
        {% include 'partials/img.twig' with { name: 'top_level' } %}
      </figure>
    {% endif %}

    <div class="page-header__main">
      <div class="page-header__content">
        <h1 class="page-header__title">{{title}}</h1>
      </div>
    </div>
  </header>

</div>
