<div class="story-list-filters">
  <a href="" class="offset-lg-1 pl-3 pb-2">
    Clear Filters
    {% include 'partials/icon.twig' with {
      name: 'redo',
      class: 'ml-3'
    } %}
  </a>
  <hr>
  <h2 class="offset-lg-1 pl-3 pt-2">Showing: <strong>Access</strong></h2>
</div>