<div class="container">
  <div class="row">

    {% if show_menu %}
      <div class="col-md-11 offset-md-1">
        {# set overlap if page has featured image #}
        {% include 'partials/box-menu.twig' with {
          overlap: has_page_image,
          items: top_level_nav_example,
          theme: theme
        } %}
      </div>
    {% endif %}


    <div class="paragraphs paragraphs--wide">
      {% block paragraphs %}
        {% include 'partials/lead.twig' %}
        <hr>
        {% include 'partials/top-level-paragraphs.twig' %}
      {% endblock %}
    </div>
  </div>
</div>

{% include 'paragraphs/campaign-stats.twig' with {
    title: 'Percentage bar',
    items: [
        {
            type: 'percentBar',
            title: 'Progress to $600 M Goal',
            labels: ['$250 M', '$600 M'],
            datasets: [ { label: 'data set 1', data: [25, 75] }, ],
        }
    ],
    theme: theme,
    top_level: true
} %}
