<div class="container">
  <div class="row">

    {% if show_menu %}
      <div class="col-md-11 offset-md-1 offset-lg-0 pl-0 pr-3 px-md-0 px-lg-5">
        {# set overlap if page has featured image #}
        {% include 'partials/box-menu.twig' with {
          overlap: has_page_image,
          items: top_level_nav_example,
          theme: theme
        } %}
        {% if has_filter %}
          {% include 'partials/story-list-filter.twig' %}
        {% endif %}
      </div>
    {% endif %}

    {% block top_level_content %}
      <div class="paragraphs paragraphs--wide">
        {% block paragraphs %}
          {% embed 'paragraphs/text.twig' with {
            title: 'GOAL: $215 MILLION'
          }%}
            {% block text_body %}
              <p>A strong financial aid program ensures that promising students from all backgrounds—cultural, philosophical, ethnic, socioeconomic, geographic—can bring their perspectives and experiences to the Middlebury community. Living and learning in an environment like this can elevate students’ thinking, deepen their understanding, widen their lens on the world, and opens minds and hearts. By increasing financial aid resources, we’ll also create a more equitable experience once they’re here, ensuring every student can take advantage of everything Middlebury has to offer, from internships and academic conferences to opportunities to travel to essentials like laptops and books.</p>
            {% endblock %}
          {% endembed %}
          {# {% include 'partials/lead.twig' %} #}
          <hr>
          {% include 'partials/top-level-paragraphs.twig' %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</div>

{% if show_stats %}
  {% include 'paragraphs/campaign-stats.twig' with {
      title: 'Percentage bar',
      items: [
          {
              type: 'percentBar',
              title: 'Progress to $600 M Goal',
              labels: ['$250 M', '$600 M'],
              datasets: [ { label: 'data set 1', data: [42, 58] }, ],
          }
      ],
      theme: theme,
      top_level: true
  } %}
{% endif %}
