<div class="container">
  <div class="row">

    {% if show_menu %}
      <div class="col-md-11 offset-md-1 offset-lg-0 pl-0 pr-3 px-md-0 px-lg-5">
        {# set overlap if page has featured image #}
        {% include 'partials/box-menu.twig' with {
          overlap: has_page_image,
          items: top_level_nav_example,
          theme: theme
        } %}
        {% if has_filter %}
          {% include 'partials/story-list-filter.twig' %}
        {% endif %}
      </div>
    {% endif %}

    {% block top_level_content %}
      <div class="paragraphs paragraphs--wide">
        {% block paragraphs %}
          {% include 'partials/lead.twig' %}
          <hr>
          {% include 'partials/top-level-paragraphs.twig' %}
        {% endblock %}
      </div>
    {% endblock %}
  </div>
</div>

{% if show_stats %}
  {% include 'paragraphs/campaign-stats.twig' with {
      title: 'Percentage bar',
      items: [
          {
              type: 'percentBar',
              title: 'Progress to $600 M Goal',
              labels: ['$250 M', '$600 M'],
              datasets: [ { label: 'data set 1', data: [25, 75] }, ],
          }
      ],
      theme: theme,
      top_level: true
  } %}
{% endif %}
